<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--MSSQLConnectionString -->
  <connectionStrings> 
    
    <add name="MyConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.42.247;Initial Catalog=P2WMS_WH01;Persist Security Info=True;User ID=sa;Password=pror" />
 
  </connectionStrings>
</configuration>